* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inner {
    height: 75%;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 68px -6px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    z-index: 1;
}

.photo {
    width: 50%;
    height: 100%;
    padding: 0 50px;
    justify-content: center;
    background-image: linear-gradient(to right, #1d1279, #451a8e, #6822a1, #8b2bb4, #af33c6);
    color: #fff;
    border-radius: 10px 0 0 10px;
}

.photo h1 {
    margin-top: 40%;
    font-size: 43px;
}

.user-form {
    background: #000;
    padding: 50px;
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
}

.user-form img {
    z-index: -100;
    width: 190px;
}

.user-form input {
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
    /* margin-bottom: 2em;
    border-radius: 5px; */
}

.txtb {
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
}

.btn {
    background: none;
    color: #ccc;
    width: 200px;
    height: 50px;
    border: 1px solid #2196f3;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}

.btn:hover {
    background: #2196f3;
    cursor: pointer;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3;
    transition-delay: 0.5s;
}

@media(max-width: 665px) {
    .inner {
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 10;
        left: 10;
    }
    .photo {
        width: 100%;
        height: 50%;
        border-radius: 0 0 0 0;
    }
    .photo h1 {
        margin-top: 40px;
        font-size: 25px;
    }
    .photo p {
        width: auto;
        height: auto;
    }
    .user-form {
        width: 100%;
        border-radius: 0px 0px 0 0;
    }
    .btn {
        width: 100px;
    }
}